<main>
  <h1>{{one.name}}</h1>
  <img class="cube" src={{one.imageUrl}}>
  <div class="details">
    <p><span>Description:</span>{{one.description}}</p>
    <p><span>Difficulty level:</span> {{one.difficultyLevel}}</p>
    <a class="btn" href="/products">Back</a>
    <a class="btn" href="/products/{{one._id}}/attach">Attach</a>
  </div>
  <h2>Accessories</h2>
  <div class="accessories">
    {{#each one.accessories}}
    {{> accessory}}
    {{else}}

    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}

  </div>
</main>